[core]
	editor = vim
	autocrlf = input
	oel = lf
	pager = less -F -S -R -i
[alias]
	s = status
	l = log
	ls = log --pretty --oneline --all --graph
	su = status -u
	d = diff
	ds = diff --staged
	ca = commit --amend
	ll = log --format='%C(auto)%ad %an %h %s' --date=format:'%y-%m-%d'
	# with graph
	llg = log --format='%C(auto)%ad %an %h %s' --date=format:'%y-%m-%d' --graph
	# with %d - ref
	llr = log --format='%C(auto)%ad %an %h %d %s' --date=format:'%y-%m-%d'
	# with %d and graph
	llgr = log --format='%C(auto)%ad %an %h %d %s' --date=format:'%y-%m-%d' --graph
	llrg = log --format='%C(auto)%ad %an %h %d %s' --date=format:'%y-%m-%d' --graph
